body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    padding: 20px;
    border: 2em solid;
    border-left: 5em solid;
    border-right: 5em solid;
}

img {
    border: 1em solid rgb(21, 22, 48);
}
.container {
    display: flex;
    height: 100%;
}

.skills {
    display: flex;
    height: 100%;
    flex: 1;
}

.secondleft, .secondright {
    flex: 1;
}

.left, .right {
    border: 1em;
    top: 20px;
    margin: 0 0 10px;
    padding: 10px;
}

h1, h2, h3 {
    text-decoration: underline;
    margin: 0 0 20px;
    font-weight: 600;
    color: darkslategrey;
}

h2{
    border-bottom: 1em solid rgb(0, 67, 82);
    margin: 0;
    padding-top: 20px;
}

h3 {
    font-weight: bold;
    margin: 0;
    padding-top: 20px;
    background-color: 1em solid rgb(189, 255, 248);
    
}

p {
    font-style: italic;
    background-color: rgb(90, 165, 165);
    color: aliceblue;
    padding: 10px;
    margin: auto;
    border-left: 1em solid rgb(0, 67, 82);
}

ul.name {
    background-color: cadetblue;
    margin: 0;
    padding: o;
}

ul.artworks {
    height: auto;
    width: auto;
    object-fit: cover;
    border: 1em solid rgb(189, 255, 248);
}
.arts {
    display: flex;
    height: 100%;
}

.left2, .right2 {
    border: 1em;
    top: 20px;
    margin: 0 0 10px;
    padding: 10px;
}